<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
<link rel="stylesheet" href="{% static "blog/css/style.css" %}">

    <title>Akhil</title>
  </head>
  <body>
<a href="{%url 'blog:index' %}">BLOG</a>
<a href="{%url 'blog:about' %}">ABOUT</a>
<a href="{%url 'blog:tweet' %}">TWEET</a>
<h1></h1>
    {% block body_block %}
      <h1 id="A">TECH WITH AKHIL</h1>
      <h1>WELCOME TO MY TECH BLOG</h1>
      <img src="{% static "blog/images/blog.jpg"%}" alt="">
      {% if blog_latest_list  %}
          <h2>BLOGS !!!</h2>
          <ul>
              {% for blog in blog_latest_list %}

                <li> <a href="{% url 'blog:detail' blog.id %} ">{{ blog.blog_head }} </a></li>
              {% endfor %}
          </ul>
          {% else %}
          <p>No blogs are available.</p>
      {% endif %}

    {% endblock %}

  </body>
</html>
